/* purgecss start ignore */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
a:focus {
  outline: none;
}
#app {
  min-height: 100vh;
}

.navigation > a.active > div {
  transition: color 0.4s, visibility 0s, opacity 0.5s linear;
  @apply text-white;
}
/* purgecss end ignore */